{% extends 'index/index.html' %}
{% load static%}
{% block pages %}
<section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Welcome to MEDRECORDS </h1>
      
      <h2>All of Patient Record on One Place </h2>
      {% if user.is_authenticated %}
      <a class="btn-get-started scrollto">Welcome ! {{user.users.full_name}}</a>

    
      <!-- أي كود إضافي للمستخدم المسجل دخولًا -->
    {% else %} 

    <a href="{% url 'loginpage'%}" class="btn-get-started scrollto">log in to start</a>
    <!-- أي كود إضافي للمستخدم غير المسجل دخولًا -->
    {% endif %}
      
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose MedRecords?</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
              </p>
            
              <div class="text-center">
                <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Corporis voluptates sit</h4>
                    <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Ullamco laboris ladore pan</h4>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Labore consequatur</h4>
                    <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->

<!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="fas fa-user-md"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{Doctors}}" data-purecounter-duration="1" class="purecounter"></span>
              <p>Doctors</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="far fa-hospital"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{Patients}}" data-purecounter-duration="1" class="purecounter"></span>
              <p>Patients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-flask"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{Laboratory}}" data-purecounter-duration="1" class="purecounter"></span>
              <p>Laboratory</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-radio"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{Radiologist}}" data-purecounter-duration="1" class="purecounter"></span>
              <p>Radiologist</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-5 mt-lg-3">
            <div class="count-box">
              <i class="fas fa-radio"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{radio_technician}}" data-purecounter-duration="1" class="purecounter"></span>
              <p>radio technician</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

  </main>
  
  {% endblock pages %}